

@model Employee_Onboarding.Models.empData

@{
    ViewData["Title"] = "Details";
}

<h1>Full Details</h1>
<td>                
    <img src="@Model.Passportfilepath"                            
    class="rounded-circle"                            
    height="140" width="140"                            
    asp-append-version="true" />             
</td>
<br />
<h4>Personal Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                Full Name           </th>            
                <th>                Address           </th> 
                <th>                Contact Number          </th> 
                <th>                Email          </th>            
                           
                <th></th>        
                </tr>    
                </thead>    

                  <tbody>
                 <tr>        
                 <td>  @Html.DisplayFor(modelItem => Model.Fullname) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.LocalityAddress) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Contactno)     </td>             
                 <td>  @Html.DisplayFor(modelItem => Model.Emailid)  </td> 
                 
             </tr>  
             <tr>        
                 <td></td>            
                 <td>City: @Html.DisplayFor(modelItem => Model.City) </td>            
                 <td></td> 
                 <td></td> 
                 
             </tr> 
            
             </tbody></table>

             <h4>Educational Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                EducationType            </th>            
                <th>                BoardName           </th> 
                <th>                Percentage          </th> 
                <th>                PassingYear          </th>            
                           
                <th></th>        
                </tr>    
                </thead>    

                  <tbody>
                 <tr> 
                 <td>  SSC</td>
                 <td>  @Html.DisplayFor(modelItem => Model.SscSchoolName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.SscPercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.SscPassingYear)     </td>             
             </tr> 

             @if(Model.HscCollegeName!=null)
        {
             <tr>
                 <td>HSC</td>
                  <td>  @Html.DisplayFor(modelItem => Model.HscCollegeName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.HscPercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.HscPassingYear)     </td>             
             </tr>
        }

       
             @if(Model.DegreeCollegeName!=null)
        {
             <tr>
                 <td>Degree</td>
                  <td>  @Html.DisplayFor(modelItem => Model.DegreeCollegeName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DegreePercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DegreePassingYear)     </td>             
             </tr>
        }

       
        
         </tbody></table>

        <h4>Professional Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                WorkExperience            </th>            
                <th>                Company          </th> 
                <th>                ProjectInfo          </th> 
                     
                </tr>    
                </thead>  

                 <tbody>
                 <tr> 
                
                 <td>  @Html.DisplayFor(modelItem => Model.WorkExperience) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Company) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Experties) </td>             
            </tr> 
        </tbody>
       </table>

               <h5>Documents Information</h5>
               <body>
                   <table>
                       <tr>
                           <th>     DOCUMENT          </th>

                           <th>      RECORD              </th>
                       </tr>
                       <tr>
                          <td>Resume</td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                        <tr>
                          <td>Signaure</td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                         <tr>
                          <td>AdharCard</td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                         <tr>
                          <td>Ssc Result</td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                         <tr>
                          <td>Hsc Result</td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                         <tr>
                          <td>Degree Result </td>
                         <td style="font-size:150%;font-weight:bold;color:green;">&#10004;</td>
                       </tr>

                   </table>
               </body>

    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>



        

