@model IEnumerable<Employee_Onboarding.Models.Professionalinfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 <p hidden>
                @Html.DisplayNameFor(model => model.Professionalid)
                </p>
            </th>
      @*      <th>
                 <p hidden>
                @html.displaynamefor(model => model.employeeid)
                </p>
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.WorkExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experties)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                 <p hidden>
                @Html.DisplayFor(modelItem => item.Professionalid)
                </p>
            </td>
            <td>
                 <p hidden>
                @Html.DisplayFor(modelItem => item.EmployeeId)
                </p>
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.WorkExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experties)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
